body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('IMG_9630.jpg'); /* Hintergrundbild hinzufügen */
    background-size: cover; /* Bild so skalieren, dass es den gesamten Bildschirm abdeckt */
    background-position: center; /* Bild wird zentriert */
    background-repeat: no-repeat; /* Das Bild wird nicht wiederholt */
    height: 100vh; /* Sicherstellen, dass der Hintergrund die gesamte Höhe abdeckt */
}

.game-container {
    width: 1168px;
    height: 2000px;
    background-color: rgba(51, 51, 51, 0.8); /* Leichter transparenter Hintergrund für besseren Kontrast */
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    box-sizing: border-box;
}

.resources {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 22px;
    display: block;
}

.resources div {
    margin-bottom: 10px;
}

.main-content {
    margin-top: 100px;
    width: 100%;
    text-align: center;
}
